@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EEEFF1;
  padding: 30px;
}

.header__container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  width: 700px;
}

.header__link {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.header-link {
  color: #34547A;
}

.header__image {
  height: 90;
  width: 96;
  margin-left: 7%;
}

.first-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EEEFF1;
  padding: 100px;
  padding-top: 0px;
}

.first-screen__container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.first-screen__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin-bottom: 40px;
}

.first-screen__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 40px;
}

.first-screen__image {
  height: 55%;
  width: 55%;
}

.btn {
  background-color: #34547A;
  width: 225px;
  height: 65px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  border: 0px;
}

.about-me {
  padding: 150px;
  text-align: center;
}

.about-me__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.about-me__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.numbers {
  background-color: #34547A;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.numbers__container {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.numbers__wrapper {
  padding: 10px;
}

.numbers__item {
  height: 50px;
  width: 141px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px;
}

.skills__item {
  height: 4px;
  width: 445px;
  background-color: #C4C4C4;
}

.skills-item {
  height: 4px;
  width: 300px;
  background-color: #34547A;
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  padding: 40px;
}

.skills__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.skills__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.skills__avatar {
  padding: 40px;
  width: 555px;
  height: 450px;
}

.skills__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.skills__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.video {
  background-color: #EEEFF1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 120px;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}

.video__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.video__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video_image {
  width: 100%;
}

.video_btn {
  background-color: #000000;
  border-radius: 100%;
  width: 10%;
  position: absolute;
}

.projects {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.projects__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projects__wrapper-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects__image {
  width: 100%;
  height: 100%;
}

.projects__wrapper-eye {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #34547A;
  opacity: 0;
}

.projects__eye {
  width: 20%;
}

.projects__wrapper-eye:hover {
  opacity: 80%;
}

.form {
  display: flex;
  padding: 90px;
  justify-content: center;
  background-color: #EEEFF1;
  padding-top: 100px
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  justify-content: space-between;
}

.form__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  justify-content: center;
}

.form__name,
.form__email {
  width: 255px;
  height: 50px;
  padding-left: 10px;
  border: 0px;
}

.form__massege {
  width: 540px;
  height: 175px;
  padding-left: 10px;
  padding-bottom: 135px;
  border: 0px;
  margin-bottom: 60px
}

.form__data {
  width: 540px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.form__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #34547A;
  padding: 50px;
}

.footer__container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  color: white;
}

.footer__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.footer__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.footer__icons {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.footer__image {
  height: 22.82px;
  width: 43.75px;
}

@media (min-width: 320px) and (max-width: 1279px) {

  .header__navigation {
    display: none;
  }

  .first-screen__container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .first-screen__design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-screen__image {
    height: 175.31px;
    width: 255.6px;
    margin-bottom: 40px;
  }

  .first-screen__heading {
    font-size: 30px;
  }

  .about-me {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
  }

  .numbers__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .numbers__item {
    height: 35px;
    width: 98.7px;
  }

  .skills {
    padding-bottom: 60px;
  }

  .skills__wrapper {
    flex-direction: column-reverse;
  }

  .skills__avatar {
    width: 339px;
    height: 275px;
  }

  .skills__container {
    height: 300px;
    padding: 40px;
    text-align: center;
  }

  .skills__item {
    width: 290px;
  }

  .skills-item {
    width: 190px;
  }

  .video {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 93px;
    padding-bottom: 91px;
  }

  .video__wrapper {
    height: 100%;
  }

  .video__heading {
    margin-bottom: 30px;
  }

  .video__paragraph {
    margin-bottom: 30px;
  }

  .projects__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-row: r;
  }


}